header {
  display: flex;
}

/* Adding for navbar */
header > div:nth-child(2) {
  margin-left: auto;
}

/* header div:nth-child(2) {
  margin-left: auto;
}
header div:nth-child(1) {
  margin-right: auto;
} */

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.grid-container {
  /* This grid system is of no meaning here */
  /* display: grid; */
  grid-template-columns: 1fr;
  padding: 10px;
}
.grid-item {
  /*! border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /*! overflow: hidden; */
  justify-content: space-evenly;
  grid-template-columns: minmax(
    min-content,
    max-content
  ); /*minmax(0, 1fr) 300px;*/
  grid-gap: 1rem;
  grid-template-rows: minmax(min-content, max-content);
}

.button1 {
  background-color: Transparent;

  border: none;
  cursor: pointer;

  outline: none;
  border-radius: 2px;
}

.button2 {
  background-color: #ff5912;
  align-items: left;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 15px 50px;
  color: white;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

button {
  padding: 5px 16px;
}

.button1:hover {
  border: 1px solid #ff5912;
}

.text {
  color: black;
  text-decoration: none;
}

.navMenu {
  background-color: None;
  display: flex;
  flex-direction: row;
  /*! margin-right: auto; */
}

.navMenu a {
  /* float: left;
  display: block; */
  /* text-align: center; */
  /* margin-right: auto; */
  /* margin-right: auto; */
  /*! border-bottom: 3px solid transparent; */ border-radius: 25px;
  color: black;
  padding: 1em 1.25em;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  /* align-self: center; */
}

.navMenu img {
  align-self: center;
}

.navMenu a:hover {
  color: #ff5912;
}

.navMenu a:hover:after {
  /* width: 50%;
  border-bottom: 3px solid #ff5912;
  color: #ff5912; */

  width: 50%;
  border-bottom: 3px solid #ff5912;
  content: '';
  display: block;
  position: left;
  top: 0;
  width: 50%;
  left: 25%;
}

.navMenu a:active {
  color: #ff5912;
  width: 50%;
  border-bottom: 3px solid #ff5912;
  content: '';
  display: block;
  position: left;
  top: 0;
  width: 50%;
  left: 25%;
}




p {
  /*! border: 1px solid red; */
  margin-right: 2em;
  /*! margin-bottom: 2em; */
  line-height: 1.5em;
  word-wrap: break-word;
  white-space: wrap;
}

.hero-image {
  /* width: 100%; */
  background-position: right;
  background-repeat: no-repeat;
  margin: 1vw 10vw 1vw 10vw;
}

.hero-text {
  text-align: left;
  padding-right: 20px;
  left: 50%;
  transform: translate(2vw, 2vw);
  color: #2f2f2f;
}

/* Those Important dates css */
.dates {
  text-align: justify;
  background-color: #2f2f2f;
  color: #f0f0f0;
}

.datesOuter {
  display: flex;
  justify-content: space-between;
  font-size: 20px; 
  padding-left:25%; 
  padding-right: 25%;
}

.datesInner {
  display: flex;
}

.datesLeftElement {
  margin-right: auto;
  font-size: 0.9em;
}

.datesRightElement {
  /*! margin-left: auto; */
  font-size: 0.9em;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.dot1{
	background-color: #387FCB;
   }
.dot2{
	background-color: #F7CE44;
   }
.dot3{
	background-color: #E86A1C;
   }
 .dot4{
	background-color: #E81C1C;
   }
  
  .chef-image{
    width:160px; 
    text-align:right; 
    padding-left: 85%;
  }

  h3 {
    font-size:40px; 
    text-align: center;
  }
 

@media screen and (max-width: 600px) {
  .datesOuter .footerMenu {
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-block;
  }

  .navMenuResponsive {
    flex-direction: column;
  }

  .navMenuResponsive img:hover,
  .navMenuResponsive a:hover {
    border-bottom: none;
    color: #ff5912;
  }

  .navMenu a.active {
    border-bottom: none;
  }
}

footer{
  display: flex;
  justify-content: space-between;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);  
}

.footer-grid {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /*! overflow: hidden; */
  justify-content: space-evenly;
  grid-template-columns: minmax(
    min-content,
    max-content
  ); /*minmax(0, 1fr) 300px;*/
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  p {
    font-size: 18px;
    margin-right: 0em;
  }
  .vrLine{
    display: none;
  }
  .datesOuter{
    font-size: 15px; 
    padding-left:0%; 
    padding-right: 0%;
    flex-direction: column;
  }
  .chef-image{
    padding-left: 55%;
  }
  .footer-grid {
    grid-auto-rows: auto;
  }
  h3 {
    font-size: 35px;
    text-align: left;
  }
  .hero-image {
    margin-left: 2vw;
    padding-right: 0vw;
  }
}
